@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family:"Roboto", sans-serif;
    background-color: #e1e1e1;
}

h1,
p {
    color: #000;
    text-align: center;
}

.game-field {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 600px;
}

.controls {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    transform: translateY(-235px);
    z-index: 10;
    background-color: #3d3d3d;
    border-radius: 300px;
    border: 5px solid black;
}

.square {
    height: 145px;
    width: 145px;
    z-index: 5;
    border: 5px solid black;
}

.red-square {
    background-color: red;
    border-radius: 300px 0 0 0;
}

.yellow-square {
    background-color: yellow;
    border-radius: 0 300px 0 0;
    float: right;
    transform: translateY(-155px);
}

.green-square {
    background-color: green;
    border-radius: 0 0 0 300px;
}

.blue-square {
    background-color: blue;
    border-radius: 0 0 300px 0;
    float: right;
    transform: translateY(-155px);
}

.strict-square,
.start-square,
.power-square {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px;
    text-align: center;
    width: 150px;
    transform: translate(5px, 90px);
}

.display-square {
    font-weight: bold;
    height: 75px;
    width: 100px;
    background-color: #d7d6d6;
    color: #000;
    text-align: center;
    line-height: 75px;
    transform: translate(20px, -280px);
    margin-top: 10px;
    border-radius: 23px;
    border: 5px solid black;
}

button {
    width: 100px;
    height: 40px;
    background-color: #d7d6d6;
    color: #000;
    border-radius: 23px;
    border: 5px solid black;
    margin-left: 20px;
    margin-top: 0;
}

button:focus{
    outline: none;
}


.red-light {
    background-color: #ff7f7f;
}

.yellow-light {
    background-color: #ffef99;
}

.green-light {
    background-color: #7fbf7f;
}

.blue-light {
    background-color: #6666ef;
}

.on {
    color: green;
}

.off {
    color: red;
}

/*-----Media Queries ------*/

@media(min-width:768px) {
     .game-field {
        height: 500px;
        width: 500px;
    }
    .controls {
        height: 300px;
        width: 300px;
        transform: translateY(-405px);
    }
    .square {
        height: 240px;
        width: 240px;
    }
    .yellow-square, .blue-square {
        transform: translateY(-250px);
    }

    .strict-square,
    .start-square,
    .power-square {
        transform: translate(80px, 130px);
    }

    .display-square {
        transform: translate(95px, -140px);
    }
}

@media(min-width:992px) {
         .game-field {
        height: 600px;
        width: 600px;
    }
    .controls {
        height: 300px;
        width: 300px;
        transform: translateY(-450px);
    }
    .square {
        height: 290px;
        width: 290px;
    }
    .yellow-square, .blue-square {
        transform: translateY(-300px);
    }

    .strict-square,
    .start-square,
    .power-square {
        transform: translate(80px, 120px);
    }

    .display-square {
        transform: translate(95px, -140px);
    }
}
