@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: #000;
    font-family: "Roboto", sans-serif;
}

h1,
p {
    color: #fff;
    text-align: center;
}

.game-field {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 600px;
}

.square {
    float: left;
    width: 50%;
    padding-bottom: 50%;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    position: absolute;
    width: 90%;
    margin-left: 25%;
    margin-top: 25%;
    max-width: 300px;
    max-height: 300px;
    z-index: 10;
}

button{
    width:100px;
    height:50px;
    background-color: #666;
    color:#fff;
    border-radius:23px;
    margin-left:30px;
    transform: translateY(50px);
    
    
}

.strict-square {
    background-color: #fff;
    border-radius: 300px 0px 0px 0px;
    width: 150px;
    height: 150px;
    padding-bottom: 0px;
}

.start-square {
    background-color: #fff;
    border-radius: 0px 300px 0px 0px;
    width: 150px;
    height: 150px;
    padding-bottom: 0px;
}

.power-square {
    background-color: #fff;
    border-radius: 0px 0px 0px 300px;
    width: 150px;
    height: 150px;
    padding-bottom: 0px;
}

.display-square {
    background-color: #fff;
    border-radius: 0px 0px 300px 0px;
    width: 150px;
    height: 150px;
    padding-bottom: 0px;
    text-align: center;
}


.red-square {
    background-color: #ff0000;
    border-radius: 300px 0px 0px 0px;
}

.yellow-square {
    background-color: #ffd700;
    border-radius: 0px 300px 0px 0px;
}

.green-square {
    background-color: #008000;
    border-radius: 0px 0px 0px 300px;
}

.blue-square {
    background-color: #0000e5;
    border-radius: 0px 0px 300px 0px;
}

.red-light {
    background-color: #ff7f7f;
}

.yellow-light {
    background-color: #ffef99;
}

.green-light {
    background-color: #7fbf7f;
}

.blue-light {
    background-color: #6666ef;
}


